@font-face {
  font-family: "Montserrat";
  src: url("../todo/assets/fonts/montserrat-v25-latin-regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserratbold";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "hollow";
  src: url("../todo/assets/fonts/PokemonHollow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bold";
  src: url("../todo/assets/fonts/PokemonSolid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.pokfonthollow {
  font-family: "hollow" !important;
}

.pokfontbold {
  font-family: "bold" !important;
}
@media (min-width: 768px) {
  /* fonts class */
  .bodydivide {
    font-family: "Montserrat" !important;
    /* width: 100%; */
    /* height: 100vh; */
    background: linear-gradient(
      to right,
      grey 0%,
      grey 50%,
      white 50%,
      white 100%
    );
  }
}
.font1 {
  font-family: "Montserrat" !important;
}
